/* This Source Code Form is subject to the terms of the Mozilla Public
 * License. v. 2.0. If a copy of the MPL was not distributed with this file.
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

.browserTextStyles {
  user-select: var(--noSelect);
  font-weight: var(--bold);
  padding: var(--padding, 0);
  cursor: var(--cursor, auto);
  font-size: var(--fontSize, 13px);
  color: var(--color, inherit);
  background: none;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
