/* Storybook style for padding within main view */
.sb-show-main {
  padding: 40px;
}

@font-face {
  font-family: octicons-link;
  src: url(data:font/woff;charset=utf-8;base64,d09GRgABAAAAAAZwABAAAAAACFQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEU0lHAAAGaAAAAAgAAAAIAAAAAUdTVUIAAAZcAAAACgAAAAoAAQAAT1MvMgAAAyQAAABJAAAAYFYEU3RjbWFwAAADcAAAAEUAAACAAJThvmN2dCAAAATkAAAABAAAAAQAAAAAZnBnbQAAA7gAAACyAAABCUM+8IhnYXNwAAAGTAAAABAAAAAQABoAI2dseWYAAAFsAAABPAAAAZwcEq9taGVhZAAAAsgAAAA0AAAANgh4a91oaGVhAAADCAAAABoAAAAkCA8DRGhtdHgAAAL8AAAADAAAAAwGAACfbG9jYQAAAsAAAAAIAAAACABiATBtYXhwAAACqAAAABgAAAAgAA8ASm5hbWUAAAToAAABQgAAAlXu73sOcG9zdAAABiwAAAAeAAAAME3QpOBwcmVwAAAEbAAAAHYAAAB/aFGpk3jaTY6xa8JAGMW/O62BDi0tJLYQincXEypYIiGJjSgHniQ6umTsUEyLm5BV6NDBP8Tpts6F0v+k/0an2i+itHDw3v2+9+DBKTzsJNnWJNTgHEy4BgG3EMI9DCEDOGEXzDADU5hBKMIgNPZqoD3SilVaXZCER3/I7AtxEJLtzzuZfI+VVkprxTlXShWKb3TBecG11rwoNlmmn1P2WYcJczl32etSpKnziC7lQyWe1smVPy/Lt7Kc+0vWY/gAgIIEqAN9we0pwKXreiMasxvabDQMM4riO+qxM2ogwDGOZTXxwxDiycQIcoYFBLj5K3EIaSctAq2kTYiw+ymhce7vwM9jSqO8JyVd5RH9gyTt2+J/yUmYlIR0s04n6+7Vm1ozezUeLEaUjhaDSuXHwVRgvLJn1tQ7xiuVv/ocTRF42mNgZGBgYGbwZOBiAAFGJBIMAAizAFoAAABiAGIAznjaY2BkYGAA4in8zwXi+W2+MjCzMIDApSwvXzC97Z4Ig8N/BxYGZgcgl52BCSQKAA3jCV8CAABfAAAAAAQAAEB42mNgZGBg4f3vACQZQABIMjKgAmYAKEgBXgAAeNpjYGY6wTiBgZWBg2kmUxoDA4MPhGZMYzBi1AHygVLYQUCaawqDA4PChxhmh/8ODDEsvAwHgMKMIDnGL0x7gJQCAwMAJd4MFwAAAHjaY2BgYGaA4DAGRgYQkAHyGMF8NgYrIM3JIAGVYYDT+AEjAwuDFpBmA9KMDEwMCh9i/v8H8sH0/4dQc1iAmAkALaUKLgAAAHjaTY9LDsIgEIbtgqHUPpDi3gPoBVyRTmTddOmqTXThEXqrob2gQ1FjwpDvfwCBdmdXC5AVKFu3e5MfNFJ29KTQT48Ob9/lqYwOGZxeUelN2U2R6+cArgtCJpauW7UQBqnFkUsjAY/kOU1cP+DAgvxwn1chZDwUbd6CFimGXwzwF6tPbFIcjEl+vvmM/byA48e6tWrKArm4ZJlCbdsrxksL1AwWn/yBSJKpYbq8AXaaTb8AAHja28jAwOC00ZrBeQNDQOWO//sdBBgYGRiYWYAEELEwMTE4uzo5Zzo5b2BxdnFOcALxNjA6b2ByTswC8jYwg0VlNuoCTWAMqNzMzsoK1rEhNqByEyerg5PMJlYuVueETKcd/89uBpnpvIEVomeHLoMsAAe1Id4AAAAAAAB42oWQT07CQBTGv0JBhagk7HQzKxca2sJCE1hDt4QF+9JOS0nbaaYDCQfwCJ7Au3AHj+LO13FMmm6cl7785vven0kBjHCBhfpYuNa5Ph1c0e2Xu3jEvWG7UdPDLZ4N92nOm+EBXuAbHmIMSRMs+4aUEd4Nd3CHD8NdvOLTsA2GL8M9PODbcL+hD7C1xoaHeLJSEao0FEW14ckxC+TU8TxvsY6X0eLPmRhry2WVioLpkrbp84LLQPGI7c6sOiUzpWIWS5GzlSgUzzLBSikOPFTOXqly7rqx0Z1Q5BAIoZBSFihQYQOOBEdkCOgXTOHA07HAGjGWiIjaPZNW13/+lm6S9FT7rLHFJ6fQbkATOG1j2OFMucKJJsxIVfQORl+9Jyda6Sl1dUYhSCm1dyClfoeDve4qMYdLEbfqHf3O/AdDumsjAAB42mNgYoAAZQYjBmyAGYQZmdhL8zLdDEydARfoAqIAAAABAAMABwAKABMAB///AA8AAQAAAAAAAAAAAAAAAAABAAAAAA==) format('woff');
}

.md .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

.md .anchor {
  float: left;
  line-height: 1;
  margin-left: -20px;
  padding-right: 4px;
}

.md .anchor:focus {
  outline: none;
}

.md h1 .octicon-link,
.md h2 .octicon-link,
.md h3 .octicon-link,
.md h4 .octicon-link,
.md h5 .octicon-link,
.md h6 .octicon-link {
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden;
}

.md h1:hover .anchor,
.md h2:hover .anchor,
.md h3:hover .anchor,
.md h4:hover .anchor,
.md h5:hover .anchor,
.md h6:hover .anchor {
  text-decoration: none;
}

.md h1:hover .anchor .octicon-link,
.md h2:hover .anchor .octicon-link,
.md h3:hover .anchor .octicon-link,
.md h4:hover .anchor .octicon-link,
.md h5:hover .anchor .octicon-link,
.md h6:hover .anchor .octicon-link {
  visibility: visible;
}

.md {
  -
  color: #24292e;
  line-height: 1.5;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.md .pl-c {
  color: #6a737d;
}

.md .pl-c1,
.md .pl-s .pl-v {
  color: #005cc5;
}

.md .pl-e,
.md .pl-en {
  color: #6f42c1;
}

.md .pl-s .pl-s1,
.md .pl-smi {
  color: #24292e;
}

.md .pl-ent {
  color: #22863a;
}

.md .pl-k {
  color: #d73a49;
}

.md .pl-pds,
.md .pl-s,
.md .pl-s .pl-pse .pl-s1,
.md .pl-sr,
.md .pl-sr .pl-cce,
.md .pl-sr .pl-sra,
.md .pl-sr .pl-sre {
  color: #032f62;
}

.md .pl-smw,
.md .pl-v {
  color: #e36209;
}

.md .pl-bu {
  color: #b31d28;
}

.md .pl-ii {
  background-color: #b31d28;
  color: #fafbfc;
}

.md .pl-c2 {
  background-color: #d73a49;
  color: #fafbfc;
}

.md .pl-c2:before {
  content: "^M";
}

.md .pl-sr .pl-cce {
  color: #22863a;
  font-weight: 700;
}

.md .pl-ml {
  color: #735c0f;
}

.md .pl-mh,
.md .pl-mh .pl-en,
.md .pl-ms {
  color: #005cc5;
  font-weight: 700;
}

.md .pl-mi {
  color: #24292e;
  font-style: italic;
}

.md .pl-mb {
  color: #24292e;
  font-weight: 700;
}

.md .pl-md {
  background-color: #ffeef0;
  color: #b31d28;
}

.md .pl-mi1 {
  background-color: #f0fff4;
  color: #22863a;
}

.md .pl-mc {
  background-color: #ffebda;
  color: #e36209;
}

.md .pl-mi2 {
  background-color: #005cc5;
  color: #f6f8fa;
}

.md .pl-mdr {
  color: #6f42c1;
  font-weight: 700;
}

.md .pl-ba {
  color: #586069;
}

.md .pl-sg {
  color: #959da5;
}

.md .pl-corl {
  color: #032f62;
  text-decoration: underline;
}

.md details {
  display: block;
}

.md summary {
  display: list-item;
}

.md a {
  background-color: transparent;
}

.md a:active,
.md a:hover {
  outline-width: 0;
}

.md strong {
  font-weight: inherit;
  font-weight: bolder;
}

.md h1 {
  font-size: 2em;
  margin: .67em 0;
}

.md img {
  border-style: none;
}

.md code,
.md kbd,
.md pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

.md hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.md input {
  font: inherit;
  margin: 0;
}

.md input {
  overflow: visible;
}

.md [type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

.md * {
  box-sizing: border-box;
}

.md input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.md a {
  color: #0366d6;
  text-decoration: none;
}

.md a:hover {
  text-decoration: underline;
}

.md strong {
  font-weight: 600;
}

.md hr {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
  height: 0;
  margin: 15px 0;
  overflow: hidden;
}

.md hr:before {
  content: "";
  display: table;
}

.md hr:after {
  clear: both;
  content: "";
  display: table;
}

.md table {
  border-collapse: collapse;
  border-spacing: 0;
}

.md td,
.md th {
  padding: 0;
}

.md details summary {
  cursor: pointer;
}

.md h1,
.md h2,
.md h3,
.md h4,
.md h5,
.md h6 {
  margin-bottom: 0;
  margin-top: 0;
}

.md h1 {
  font-size: 32px;
}

.md h1,
.md h2 {
  font-weight: 600;
}

.md h2 {
  font-size: 24px;
}

.md h3 {
  font-size: 20px;
}

.md h3,
.md h4 {
  font-weight: 600;
}

.md h4 {
  font-size: 16px;
}

.md h5 {
  font-size: 14px;
}

.md h5,
.md h6 {
  font-weight: 600;
}

.md h6 {
  font-size: 12px;
}

.md p {
  margin-bottom: 10px;
  margin-top: 0;
}

.md blockquote {
  margin: 0;
}

.md ol,
.md ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.md ol ol,
.md ul ol {
  list-style-type: lower-roman;
}

.md ol ol ol,
.md ol ul ol,
.md ul ol ol,
.md ul ul ol {
  list-style-type: lower-alpha;
}

.md dd {
  margin-left: 0;
}

.md code,
.md pre {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  font-size: 12px;
}

.md pre {
  margin-bottom: 0;
  margin-top: 0;
}

.md input::-webkit-inner-spin-button,
.md input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.md .border {
  border: 1px solid #e1e4e8!important;
}

.md .border-0 {
  border: 0!important;
}

.md .border-bottom {
  border-bottom: 1px solid #e1e4e8!important;
}

.md .rounded-1 {
  border-radius: 3px!important;
}

.md .bg-white {
  background-color: #fff!important;
}

.md .bg-gray-light {
  background-color: #fafbfc!important;
}

.md .text-gray-light {
  color: #6a737d!important;
}

.md .mb-0 {
  margin-bottom: 0!important;
}

.md .my-2 {
  margin-bottom: 8px!important;
  margin-top: 8px!important;
}

.md .pl-0 {
  padding-left: 0!important;
}

.md .py-0 {
  padding-bottom: 0!important;
  padding-top: 0!important;
}

.md .pl-1 {
  padding-left: 4px!important;
}

.md .pl-2 {
  padding-left: 8px!important;
}

.md .py-2 {
  padding-bottom: 8px!important;
  padding-top: 8px!important;
}

.md .pl-3,
.md .px-3 {
  padding-left: 16px!important;
}

.md .px-3 {
  padding-right: 16px!important;
}

.md .pl-4 {
  padding-left: 24px!important;
}

.md .pl-5 {
  padding-left: 32px!important;
}

.md .pl-6 {
  padding-left: 40px!important;
}

.md .f6 {
  font-size: 12px!important;
}

.md .lh-condensed {
  line-height: 1.25!important;
}

.md .text-bold {
  font-weight: 600!important;
}

.md:before {
  content: "";
  display: table;
}

.md:after {
  clear: both;
  content: "";
  display: table;
}

.md>:first-child {
  margin-top: 0!important;
}

.md>:last-child {
  margin-bottom: 0!important;
}

.md a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.md blockquote,
.md dl,
.md ol,
.md p,
.md pre,
.md table,
.md ul {
  margin-bottom: 16px;
  margin-top: 0;
}

.md hr {
  background-color: #e1e4e8;
  border: 0;
  height: .25em;
  margin: 24px 0;
  padding: 0;
}

.md blockquote {
  border-left: .25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
}

.md blockquote>:first-child {
  margin-top: 0;
}

.md blockquote>:last-child {
  margin-bottom: 0;
}

.md kbd {
  background-color: #fafbfc;
  border: 1px solid #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
  color: #444d56;
  display: inline-block;
  font-size: 11px;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

.md h1,
.md h2,
.md h3,
.md h4,
.md h5,
.md h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;
  margin-top: 24px;
}

.md h1 {
  font-size: 2em;
}

.md h1,
.md h2 {
  border-bottom: 1px solid #eaecef;
  padding-bottom: .3em;
}

.md h2 {
  font-size: 1.5em;
}

.md h3 {
  font-size: 1.25em;
}

.md h4 {
  font-size: 1em;
}

.md h5 {
  font-size: .875em;
}

.md h6 {
  color: #6a737d;
  font-size: .85em;
}

.md ol,
.md ul {
  padding-left: 2em;
}

.md ol ol,
.md ol ul,
.md ul ol,
.md ul ul {
  margin-bottom: 0;
  margin-top: 0;
}

.md li {
  word-wrap: break-all;
}

.md li>p {
  margin-top: 16px;
}

.md li+li {
  margin-top: .25em;
}

.md dl {
  padding: 0;
}

.md dl dt {
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
  margin-top: 16px;
  padding: 0;
}

.md dl dd {
  margin-bottom: 16px;
  padding: 0 16px;
}

.md table {
  display: block;
  overflow: auto;
  width: 100%;
}

.md table th {
  font-weight: 600;
}

.md table td,
.md table th {
  border: 1px solid #dfe2e5;
  padding: 6px 13px;
}

.md table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.md table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.md img {
  background-color: #fff;
  box-sizing: content-box;
  max-width: 100%;
}

.md img[align=right] {
  padding-left: 20px;
}

.md img[align=left] {
  padding-right: 20px;
}

.md code {
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: .2em .4em;
}

.md pre {
  word-wrap: normal;
}

.md pre>code {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  white-space: pre;
  word-break: normal;
}

.md .highlight {
  margin-bottom: 16px;
}

.md .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.md .highlight pre,
.md pre {
  background-color: #f6f8fa;
  border-radius: 3px;
  font-size: 85%;
  line-height: 1.45;
  overflow: auto;
  padding: 16px;
}

.md pre code {
  background-color: transparent;
  border: 0;
  display: inline;
  line-height: inherit;
  margin: 0;
  max-width: auto;
  overflow: visible;
  padding: 0;
  word-wrap: normal;
}

.md .commit-tease-sha {
  color: #444d56;
  display: inline-block;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  font-size: 90%;
}

.md .blob-wrapper {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow-x: auto;
  overflow-y: hidden;
}

.md .blob-wrapper-embedded {
  max-height: 240px;
  overflow-y: auto;
}

.md .blob-num {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  color: rgba(27,31,35,.3);
  cursor: pointer;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  font-size: 12px;
  line-height: 20px;
  min-width: 50px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: right;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 1%;
}

.md .blob-num:hover {
  color: rgba(27,31,35,.6);
}

.md .blob-num:before {
  content: attr(data-line-number);
}

.md .blob-code {
  line-height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  vertical-align: top;
}

.md .blob-code-inner {
  color: #24292e;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  font-size: 12px;
  overflow: visible;
  white-space: pre;
  word-wrap: normal;
}

.md .pl-token.active,
.md .pl-token:hover {
  background: #ffea7f;
  cursor: pointer;
}

.md kbd {
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-bottom-color: #c6cbd1;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #c6cbd1;
  color: #444d56;
  display: inline-block;
  font: 11px SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

.md :checked+.radio-label {
  border-color: #0366d6;
  position: relative;
  z-index: 1;
}

.md .tab-size[data-tab-size="1"] {
  -moz-tab-size: 1;
  tab-size: 1;
}

.md .tab-size[data-tab-size="2"] {
  -moz-tab-size: 2;
  tab-size: 2;
}

.md .tab-size[data-tab-size="3"] {
  -moz-tab-size: 3;
  tab-size: 3;
}

.md .tab-size[data-tab-size="4"] {
  -moz-tab-size: 4;
  tab-size: 4;
}

.md .tab-size[data-tab-size="5"] {
  -moz-tab-size: 5;
  tab-size: 5;
}

.md .tab-size[data-tab-size="6"] {
  -moz-tab-size: 6;
  tab-size: 6;
}

.md .tab-size[data-tab-size="7"] {
  -moz-tab-size: 7;
  tab-size: 7;
}

.md .tab-size[data-tab-size="8"] {
  -moz-tab-size: 8;
  tab-size: 8;
}

.md .tab-size[data-tab-size="9"] {
  -moz-tab-size: 9;
  tab-size: 9;
}

.md .tab-size[data-tab-size="10"] {
  -moz-tab-size: 10;
  tab-size: 10;
}

.md .tab-size[data-tab-size="11"] {
  -moz-tab-size: 11;
  tab-size: 11;
}

.md .tab-size[data-tab-size="12"] {
  -moz-tab-size: 12;
  tab-size: 12;
}

.md .task-list-item {
  list-style-type: none;
}

.md .task-list-item+.task-list-item {
  margin-top: 3px;
}

.md .task-list-item input {
  margin: 0 .2em .25em -1.6em;
  vertical-align: middle;
}

.md hr {
  border-bottom-color: #eee;
}

.md .pl-0 {
  padding-left: 0!important;
}

.md .pl-1 {
  padding-left: 4px!important;
}

.md .pl-2 {
  padding-left: 8px!important;
}

.md .pl-3 {
  padding-left: 16px!important;
}

.md .pl-4 {
  padding-left: 24px!important;
}

.md .pl-5 {
  padding-left: 32px!important;
}

.md .pl-6 {
  padding-left: 40px!important;
}

.md .pl-7 {
  padding-left: 48px!important;
}

.md .pl-8 {
  padding-left: 64px!important;
}

.md .pl-9 {
  padding-left: 80px!important;
}

.md .pl-10 {
  padding-left: 96px!important;
}

.md .pl-11 {
  padding-left: 112px!important;
}

.md .pl-12 {
  padding-left: 128px!important;
}