/* This Source Code Form is subject to the terms of the Mozilla Public
 * License. v. 2.0. If a copy of the MPL was not distributed with this file.
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

.grid {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(var(--gridTemplateColumns), 1fr);
  grid-gap: var(--gridGap, 15px);
  padding: var(--gridPadding, 0);
  max-width: var(--gridWidth);
  height: var(--gridHeight);
  color: var(--gridTextColor);
  background-color: var(--gridBackground);
}

.grid__disabled {
  opacity: 0.3;
  user-select: none;
}

.column {
  grid-column: var(--columnSize, span 12);
  box-sizing: border-box;
  position: relative;
  display: var(--columnDisplay, inherit);
  justify-content: var(--columnAlign);
  align-items: var(--columnVerticalAlign);
  background-color: var(--columnBackground);
  flex-direction: var(--columnDirection);
}


