/* This Source Code Form is subject to the terms of the Mozilla Public
 * License. v. 2.0. If a copy of the MPL was not distributed with this file.
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

.actionButton {
  display: block;
  padding: var(--padding, 0);
  height: var(--height);
  font-size: var(--fontSize, inherit);
  line-height: 1;
  background: none;
  color: var(--color, inherit);
  border: none;
  cursor: pointer;
  outline: inherit;
}
